

name: Deploy to Amazon ECS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
        
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Project1/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/clockbox:latest
    
    - name: SSH into EC2   
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_ADDRESS }}
        username: ${{ secrets.EC2_USERNAME }}
        password: ${{ secrets.EC2_KEY }}
        
    - name: Docker Login from SSH
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Pull Image
      run: |
        docker pull ${{ secrets.DOCKER_USERNAME }}/clockbox:latest
      
    - name: Execute Image
      run: |
        docker run ${{ secrets.DOCKER_USERNAME }}/clockbox:latest
      
