

name: Deploy to Amazon ECS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
        
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Project1/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/clockbox:latest
    
    - name: SSH into EC2
      run: |
        mkdir -p ~./.ssh/
        cat >>~./.ssh/github-actions-key <<END
        echo "$EC2_KEY" > ~/.ssh/github-actions-key
        chmod 600 ~/.ssh/github-actions-key
        cat >>~/.ssh/config <<END
        HOST ec2
          HostName #EC2_ADDRESS
          User #EC2_USERNAME
          IdentityFile ~/.ssh/github-actions-key
          StrictHostKeyChecking no
        END
      env:
        EC2_ADDRESS: ${{ secrets.EC2_ADDRESS }}
        EC2_USERNAME: ${{ secrets.EC2_USERNAME }}
        EC2_KEY: ${{ secrets.EC2_KEY }}
        
    - name: Pull Image
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_SECRET }}
    
    - name: Pull Image
      run: |
        docker pull ruby_project2
      
    - name: Execute Image
      run: |
        docker run ruby_project2
      
